openapi: 3.1.0
info:
  description: "# Overview \n\nThe Oura API allows Oura users and partner applications\
    \ to improve their user experience with Oura data.\n\nThis document describes\
    \ the Oura API Version 2 (V2), which supports access to the latest Oura Ring data\
    \ types.\n For access to other data types—which have not yet migrated to V2—refer\
    \ to the [Oura API Version 1 (V1)](https://cloud.ouraring.com/docs/) documentation.\n\
    \n# Data Access\n\nIndividual Oura users can access their own data through the\
    \ API by using a [Personal Access Token](https://cloud.ouraring.com/personal-access-tokens).\n\
    \nIf you want to retrieve data for multiple users, a registered [API Application](https://cloud.ouraring.com/oauth/applications)\
    \ is required.\n API Applications are limited to **10** users before requiring\
    \ approval from Oura. There is no limit once an application is approved.\n Additionally,\
    \ Oura users **must provide consent** to share each data type an API Application\
    \ has access to.\n\nAll data access requests through the Oura API require [Authentication](https://cloud.ouraring.com/docs/authentication).\n\
    \nAdditionally, we recommend that Oura users keep their mobile app updated to\
    \ support API access for the latest data types.\n\n# Authentication\n\nThe Oura\
    \ API provides two methods for Authentication: (1) the OAuth2 protocol and (2)\
    \ Personal Access Tokens. For more information on the OAuth2 flow, see our [Authentication\
    \ instructions](https://cloud.ouraring.com/docs/authentication).\n\nAccess tokens\
    \ must be included in the request header as follows:\n```http\nGET /v2/usercollection/personal_info\
    \ HTTP/1.1\nHost: api.ouraring.com\nAuthorization: Bearer <token>\n```\n\n# Oura\
    \ HTTP Response Codes\n\n| Response Code                        | Description\
    \ |\n| ------------------------------------ | - |\n| 200 OK                  \
    \             | Successful Response         |\n| 400 Query Parameter Validation\
    \ Error | The request contains query parameters that are invalid or incorrectly\
    \ formatted. |\n| 429 Request Rate Limit Exceeded        | The API is rate limited\
    \ to 5000 requests in a 5 minute period. You will receive a 429 error code if\
    \ you exceed this limit. [Contact us](mailto:api-support@ouraring.com) if you\
    \ expect your usage to exceed this limit.| "
  termsOfService: https://cloud.ouraring.com/legal/api-agreement
  title: Oura API Documentation
  version: "2.0"
  x-logo:
    url: img/Oura_Logo-Developer_RBG_Black.svg
servers:
- description: Oura API
  url: https://api.None
tags:
- description: "The Daily Activity scope includes daily activity summary values and\
    \ detailed activity levels. Activity levels are expressed in [metabolic equivalent\
    \ of task minutes](https://en.wikipedia.org/wiki/Metabolic_equivalent) (MET mins).\
    \ Oura tracks activity based on the movement."
  name: Daily Activity Routes
- description: "Cardiovascular Age is an estimate of the health of your cardiovascular\
    \ system in relation to your actual age. See more details [here](https://support.ouraring.com/hc/en-us/articles/28451491040019-Cardiovascular-Age)."
  name: Daily Cardiovascular Age Routes
- description: Readiness tells how ready you are for the day.
  name: Daily Readiness Routes
- description: Resilience is an estimate of your ability to withstand physiological
    stress and recover from it over time.
  externalDocs:
    description: Learn more about Resilience
    url: https://support.ouraring.com/hc/en-us/articles/25358829055251-Resilience
  name: Daily Resilience Routes
- description: "Sleep period is a nearly continuous, longish period of time spent\
    \ lying down in bed."
  name: Daily Sleep Routes
- description: The Daily SpO2 (blood oxygenation) routes include daily SpO2 average.
    Data will only be available for users with a Gen 3 Oura Ring
  externalDocs:
    description: Blood Oxygen Sensing (SpO2) on Oura
    url: https://ouraring.com/blog/blood-oxygen-sensing-spo2/?g_acctid=553-919-5922&g_adgroupid=&g_adid=&g_adtype=none&g_campaign=pmax_prospecting-retargeting_integrated_allgeos_purchase_english&g_campaignid=17714554930&g_keyword=&g_keywordid=&g_network=x&utm_campaign=pmax_prospecting-retargeting_integrated_allgeos_purchase_english&utm_content=sleeplab_prospecting_allgeos_en_static_video&utm_medium=cpc&utm_source=google&utm_source=google_pmax&gclid=CjwKCAjwloynBhBbEiwAGY25dC2B6syXyPhIQ1Bo8IufRQrBWtooTEFkclzEWdUCHNZIoq5SzurHaRoCsukQAvD_BwE
  name: Daily Spo2 Routes
- description: The daily stress route includes a summary of the number of minutes
    the user spends in high stress and high recovery each day. This is a great way
    to see how your stress and recovery are trending over time. Stress and recovery
    are mutally exclusive. E.g. one can only be stressed or recovered at any given
    moement - and cannot be stressed and recovered at the same time.
  externalDocs:
    description: Learn more about daytime stress
    url: https://ouraring.com/blog/daytime-stress-feature
  name: Daily Stress Routes
- description: |-
    The Enhanced Tags data scope includes tags that Oura users enter within the Oura mobile app. Enhanced Tags can be added for any lifestyle choice, habit, mood change, or environmental factor an Oura user wants to monitor the effects of. Enhanced Tags also contain context on a tag's start and end time, whether a tag repeats daily, and comments.

    [Learn more about how Oura users add Enhanced Tags](https://support.ouraring.com/hc/en-us/articles/360038676993-How-to-Use-Tags)
  externalDocs:
    description: More information about Enhanced Tags
    url: https://ouraring.com/blog/tags/
  name: Enhanced Tag Routes
- description: "The Heart Rate data scope includes time-series heart rate data throughout\
    \ the day and night. Heart rate is provided at 5-minute increments. For heart\
    \ rate data recorded from a Session, see Sessions endpoint."
  externalDocs:
    description: How accurate is the heart rate data generated by the Oura Ring?
    url: https://ouraring.com/blog/how-accurate-is-oura/
  name: Heart Rate Routes
- description: "The Personal Info scope includes personal information (e.g. age, email,\
    \ weight, and height) about the user. You can access the id on the personal_info\
    \ route with any access token (no scopes are required)."
  name: Personal Info Routes
- description: "The Rest Mode scope includes information about rest mode periods.\
    \ This includes the start, end time and detaials of the rest mode period."
  name: Rest Mode Period Routes
- description: "The Ring Configuration scope includes information about the user's\
    \ ring(s). This includes the model, size, color, etc."
  name: Ring Configuration Routes
- description: "The Sessions data scope provides information on how users engage with\
    \ guided and unguided sessions in the Oura app, including the user's biometric\
    \ trends during the sessions."
  externalDocs:
    description: Learn about the available session types within the Explore Tab
    url: https://ouraring.com/blog/oura-explore-tab/
  name: Session Routes
- description: Returns Oura Sleep data for the specified Oura user within a given
    timeframe. A user can have multiple sleep periods per day.
  name: Sleep Routes
- description: Recommendations for the optimal bedtime window that is calculated based
    on sleep data.
  name: Sleep Time Routes
- description: |-
    <span className='text-important'>**Note:** Tag is deprecated. We recommend transitioning to [Enhanced Tag](#tag/Enhanced-Tag-Routes).</span>

    ~~The Tags data scope includes tags that Oura users enter within the Oura mobile app. Tags are a growing list of activities, environment factors, symptoms, emotions, and other aspects that provide broader context into what's happening with users beyond the objective data generated by the Oura Ring.~~

    ~~[More information on tag translations](https://cloud.ouraring.com/edu/tag-translations)~~
  name: Tag Routes
- description: "VO2 Max is a measure of the maximum volume of oxygen that an individual\
    \ can use during intense exercise. See more details [here](https://support.ouraring.com/hc/en-us/articles/28336620578835-Cardio-Capacity-VO2-Max)."
  name: VO2 Max Routes
- description: "The Workout data scope includes information about user workouts. This\
    \ is a diverse, growing list of workouts that help inform how the user is training\
    \ and exercising."
  name: Workout Routes
- description: Fake user data that you can access without an Oura account. There is
    a corresponding sandbox endpoint to each available data type. This is useful for
    testing and development purposes. The data is not real and should not be used
    for any production purposes. The data is generated by Oura and is not based on
    any real user data. The data is not updated in real-time and is not guaranteed
    to be accurate. The rate limit for the sandbox endpoints is shared with your rate
    limit on other data endpoints.
  name: Sandbox Routes
- description: "Webhooks enable you to receive near real-time Oura data updates and\
    \ are the preferred way to receive the latest data from the Oura API.\n\n## Setup\n\
    \nCreate a new webhook subscription by calling the `POST /v2/webhook/subscription`\
    \ endpoint. Requests to the `/v2/webhook/subscription` are authenticated using\
    \ the `client_id` and `client_secret` you received when creating your application\
    \ and should be included in the HTTP header as `x-client-id` and `x-client-secret`,\
    \ respectively.\n\nWebhook subscriptions are required for each data type and event\
    \ type pair. For example, updates to `tag` is a separate subscription from created\
    \ `tag` and updates to `workouts`. This enables the option for different callback\
    \ URLs for each pair.\n\n### Verification\n\nA one-time verification occurs whenever\
    \ creating or updating a subscription. Your server must respond to a request made\
    \ to the `GET` method of your callback URL. The `GET` method must respond with\
    \ a challenge code within 2 seconds. The request schema is as follows: `https://{your-callback-url}?verification_token={request.verification_token}&challenge={random-string}`.\
    \ You should verify the `verification_token` is correct to ensure Oura is the\
    \ one calling your API. Parse the challenge string from the query parameters and\
    \ return the string in the body of your response. Example response body:\n```\n\
    {\n    \"challenge\": \"give-me-a-challenge\"\n}\n```\n\nThis process is visually\
    \ represented as follows:\n![verification image](/img/webhook-verification-flow-diagram.drawio.png)\n\
    \n## Webhook Delivery\n\n\nCallback URLs must respond with a 2xx or 3xx response\
    \ code **within 10 seconds**. Any other condition is considered a failure on the\
    \ client-side. We recommend processing events asynchronously to keep your response\
    \ time quick.\n\nWebhooks are sent to the POST method of your callback url in\
    \ the following format:\n\n#### POST Body\n```\n{\n  \"event_type\": \"<event-type>\"\
    ,\n  \"data_type\": \"<data-type>\",\n  \"object_id\": \"<object-id>\",\n  \"\
    event_time\": \"<iso-datetime\",\n  \"user_id\": \"<user-id>\"\n}\n```\n\n####\
    \ Headers\n```\n{\n    \"x-oura-signature\": \"<hmac-signature-of-timestamp-and-body>\"\
    ,\n    \"x-oura-timestamp\": \"<dispatch-timestamp>\",\n}\n```\n\n### Example\
    \ POST Data\n\n### POST Body\n```\n{\n  \"event_type\": \"update\",\n  \"data_type\"\
    : \"tag\",\n  \"object_id\": \"9fc867f2-b455-4c41-a05a-751c6e764ffa\",\n  \"event_time\"\
    : \"2022-11-16T08:21:00+00:00\",\n  \"user_id\": \"bd913327d56d-a0adf03b515a1d8ed46082e\"\
    \n}\n```\n\n#### Headers\n```\n{\n    \"x-oura-signature\": \"EA12F1F226BCA425AA10FFE3D318D284FC189DE6CFF62675883F49F6AF68F5A9\"\
    ,\n    \"x-oura-timestamp\": \"1671561207502\",\n}\n```\n\n### Client Failure\
    \ Handling\n\nAttempted redelivery of events over the course of an hour will occur\
    \ for the following failures:\n\nResponse Code | Action\n-- | --\n4xx | 10 retries\n\
    5xx | 10 retries\nTime Out | 10 retries\n\n## Security\n\n### Verify HMAC Signature\n\
    \nEach event contains a `x-oura-signature` and `x-oura-timestamp` header. The\
    \ `x-oura-signature` header is a HMAC signature of the timestamp and request body,\
    \ using your client application secret as the hash key. We strongly recommend\
    \ generating your own HMAC signature to verify it matches the header. Non-matching\
    \ signatures could indicate data originated from an attacker.\n\nPseudocode for\
    \ generating your own HMAC signature:\n```\ngenerate_hmac_256_signature(key=your_client_secret,\
    \ data=str(timestamp) + str(payload_data))\n```\n\n## FYIs\n\n### Deduplication\n\
    \nEvents sent in rapid succession (received from the client within milliseconds)\
    \ are deduplicated. Events which are duplicated over longer periods of time (received\
    \ from the client within multiple minutes) are *not* deduplicated. Expect at-least-once\
    \ delivery.\n\n### Delayed Delivery\n\n[For awareness] Upon service outage, messages\
    \ may be delivered with significant delays.\n\n### Automatically Cancel Subscription\n\
    \nWebhook subscriptions are automatically canceled if a callback responds with\
    \ a 410 status code.\n        "
  name: Webhook Subscription Routes
paths:
  /v2/usercollection/personal_info:
    get:
      operationId: Single_Personal_Info_Document_v2_usercollection_personal_info_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalInfoResponse'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Single Personal Info Document
      tags:
      - Personal Info Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/personal_info' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/personal_info'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/personal_info',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/personal_info\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/tag:
    get:
      deprecated: true
      operationId: Multiple_tag_Documents_v2_usercollection_tag_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_TagModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Tag Documents
      tags:
      - Tag Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/tag?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/tag'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/tag?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/tag?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/tag:
    get:
      deprecated: true
      operationId: Sandbox___Multiple_tag_Documents_v2_sandbox_usercollection_tag_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_TagModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Tag Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/tag?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/tag'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/tag?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/tag?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/enhanced_tag:
    get:
      operationId: Multiple_enhanced_tag_Documents_v2_usercollection_enhanced_tag_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_EnhancedTagModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Enhanced Tag Documents
      tags:
      - Enhanced Tag Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/enhanced_tag?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/enhanced_tag'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/enhanced_tag?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/enhanced_tag?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/enhanced_tag:
    get:
      operationId: Sandbox___Multiple_enhanced_tag_Documents_v2_sandbox_usercollection_enhanced_tag_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_EnhancedTagModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Enhanced Tag Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/workout:
    get:
      operationId: Multiple_workout_Documents_v2_usercollection_workout_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_WorkoutModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Workout Documents
      tags:
      - Workout Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/workout?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/workout'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/workout?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/workout?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/workout:
    get:
      operationId: Sandbox___Multiple_workout_Documents_v2_sandbox_usercollection_workout_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_WorkoutModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Workout Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/workout?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/workout'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/workout?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/workout?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/session:
    get:
      operationId: Multiple_session_Documents_v2_usercollection_session_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_SessionModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Session Documents
      tags:
      - Session Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/session?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/session'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/session?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/session?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/session:
    get:
      operationId: Sandbox___Multiple_session_Documents_v2_sandbox_usercollection_session_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_SessionModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Session Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/session?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/session'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/session?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/session?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/daily_activity:
    get:
      operationId: Multiple_daily_activity_Documents_v2_usercollection_daily_activity_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_DailyActivityModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Daily Activity Documents
      tags:
      - Daily Activity Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/daily_activity?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/daily_activity'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/daily_activity?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/daily_activity?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_activity:
    get:
      operationId: Sandbox___Multiple_daily_activity_Documents_v2_sandbox_usercollection_daily_activity_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_DailyActivityModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Daily Activity Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_activity?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_activity'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_activity?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_activity?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/daily_sleep:
    get:
      operationId: Multiple_daily_sleep_Documents_v2_usercollection_daily_sleep_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_DailySleepModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Daily Sleep Documents
      tags:
      - Daily Sleep Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/daily_sleep?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/daily_sleep'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/daily_sleep?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/daily_sleep?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_sleep:
    get:
      operationId: Sandbox___Multiple_daily_sleep_Documents_v2_sandbox_usercollection_daily_sleep_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_DailySleepModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Daily Sleep Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/daily_spo2:
    get:
      operationId: Multiple_daily_spo2_Documents_v2_usercollection_daily_spo2_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_DailySpO2Model_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Daily Spo2 Documents
      tags:
      - Daily Spo2 Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/daily_spo2?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/daily_spo2'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/daily_spo2?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/daily_spo2?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_spo2:
    get:
      operationId: Sandbox___Multiple_daily_spo2_Documents_v2_sandbox_usercollection_daily_spo2_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_DailySpO2Model_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Daily Spo2 Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/daily_readiness:
    get:
      operationId: Multiple_daily_readiness_Documents_v2_usercollection_daily_readiness_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_DailyReadinessModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Daily Readiness Documents
      tags:
      - Daily Readiness Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/daily_readiness?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/daily_readiness'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/daily_readiness?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/daily_readiness?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_readiness:
    get:
      operationId: Sandbox___Multiple_daily_readiness_Documents_v2_sandbox_usercollection_daily_readiness_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_DailyReadinessModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Daily Readiness Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/sleep:
    get:
      operationId: Multiple_sleep_Documents_v2_usercollection_sleep_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_SleepModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Sleep Documents
      tags:
      - Sleep Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/sleep?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/sleep'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/sleep?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/sleep?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/sleep:
    get:
      operationId: Sandbox___Multiple_sleep_Documents_v2_sandbox_usercollection_sleep_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_SleepModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Sleep Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/sleep?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/sleep'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/sleep?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/sleep?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/sleep_time:
    get:
      operationId: Multiple_sleep_time_Documents_v2_usercollection_sleep_time_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_SleepTimeModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Sleep Time Documents
      tags:
      - Sleep Time Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/sleep_time?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/sleep_time'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/sleep_time?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/sleep_time?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/sleep_time:
    get:
      operationId: Sandbox___Multiple_sleep_time_Documents_v2_sandbox_usercollection_sleep_time_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_SleepTimeModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Sleep Time Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/sleep_time?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/sleep_time'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/sleep_time?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/sleep_time?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/rest_mode_period:
    get:
      operationId: Multiple_rest_mode_period_Documents_v2_usercollection_rest_mode_period_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_RestModePeriodModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Rest Mode Period Documents
      tags:
      - Rest Mode Period Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/rest_mode_period?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/rest_mode_period'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/rest_mode_period?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/rest_mode_period?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/rest_mode_period:
    get:
      operationId: Sandbox___Multiple_rest_mode_period_Documents_v2_sandbox_usercollection_rest_mode_period_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_RestModePeriodModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Rest Mode Period Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/rest_mode_period?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/rest_mode_period'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/rest_mode_period?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/rest_mode_period?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/ring_configuration:
    get:
      operationId: Multiple_ring_configuration_Documents_v2_usercollection_ring_configuration_get
      parameters:
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_RingConfigurationModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Ring Configuration Documents
      tags:
      - Ring Configuration Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/ring_configuration?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/ring_configuration'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/ring_configuration?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/ring_configuration?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/ring_configuration:
    get:
      operationId: Sandbox___Multiple_ring_configuration_Documents_v2_sandbox_usercollection_ring_configuration_get
      parameters:
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_RingConfigurationModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Sandbox - Multiple Ring Configuration Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/ring_configuration?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/ring_configuration'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/ring_configuration?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/ring_configuration?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/usercollection/daily_stress:
    get:
      operationId: Multiple_daily_stress_Documents_v2_usercollection_daily_stress_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/Start_Date'
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          $ref: '#/components/schemas/End_Date_1'
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiDocumentResponse_DailyStressModel_'
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - BearerAuth: []
      - OAuth2: []
      summary: Multiple Daily Stress Documents
      tags:
      - Daily Stress Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/usercollection/daily_stress?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/usercollection/daily_stress'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \nfetch('https://api.ouraring.com/v2/usercollection/daily_stress?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/usercollection/daily_stress?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
[...]
